/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/explosion/explosion.css ***!
  \*******************************************************************************/
body {
    text-align: center;
    color: black;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
  }

p {
    text-align: justify;
    margin: 3%;
}

.divSecuestro{
    margin: 20%;
}

.divEmpleo {
    margin: 20%;
}

.progress {
    margin: 5%;
}
